@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: auto;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgb(177, 151, 162) 0%,
    rgba(5, 95, 133, 0.9556197478991597) 98%
  );
}
body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

header {
  grid-area: header;
  background-color: #203040;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 2rem;
}
header a {
  color: #ffffff;
  justify-content: center;
  font-size: 2rem;
  text-decoration: none;
  padding-left: 2rem;
}
.header-image {
  max-width: 11rem;
}
main {
  grid-area: auto;
  height: auto;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  z-index: 1;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
  z-index: 1;
}

.tag {
  text-decoration: none;
  color: #ffffff;
}

/*Button*/
.button {
  padding: 1rem;
  font-size: 1.45rem;
  font-weight: 600;
  border: none;
  background-color: #fafafa;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
  text-decoration: black;
}
.button:hover {
  background-color: #23c59b;
  border: 0.1rem #ffffff solid;
}

.button-list {
  padding: 5px;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  background-color: #fafafa;
  border-radius: 12px;
  cursor: pointer;
  outline: none;
  text-decoration: black;
  z-index: 1;
}
.button-list:hover {
  background-color: #23c59b;
  border: 0.1rem #ffffff solid;
}

.close-modal {
  position: fixed;
  right: 3rem;
  top: 3rem;
  z-index: 1000;
  padding: none;
  border: none;
  background-color: #75747400;
  cursor: pointer;
}
.react-reveal img {
  border-radius: 900px 30px 120px 900px;
}

/*Background*/
* {
  margin: 0px;
  padding: 0px;
}
.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}
.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #ccccd1, #4e54c8);
  width: 100%;
  height: 100%;
}

.css-selector {
  background: linear-gradient(346deg, #23c59b, #76b1a1);
  background-size: auto auto;

  animation: gradient 34s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.circles {
  position: initial;
  overflow: hidden;
  z-index: 0;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  background: #203040;
  animation: animate 25s linear infinite;
  z-index: 0;
}
.circles li:nth-child(1) {
  left: 20%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3) {
  left: 45%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5) {
  left: 60%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6) {
  left: 70%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7) {
  left: 30%;
  width: 100px;
  height: 100px;
  animation-delay: 7s;
}
.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10) {
  left: 75%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/*Media Query*/
iframe {
  height: 350px;
  width: 630px;
}
@media only screen and (max-width: 900px) {
  iframe {
    height: 340px;
    width: 550px;
  }
}
@media only screen and (max-width: 700px) {
  iframe {
    height: 260px;
    width: 450px;
  }
}
@media only screen and (max-width: 600px) {
  iframe {
    height: 200px;
    width: 400px;
  }
}
@media only screen and (max-width: 500px) {
  iframe {
    height: 180px;
    width: 300px;
  }
}
@media only screen and (max-width: 400px) {
  iframe {
    height: 170px;
    width: 280px;
  }
}
