@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 62.5%;
}
body {
  background: radial-gradient(
    circle,
    rgb(177, 151, 162) 0%,
    rgba(5, 95, 133, 0.9556197478991597) 98%
  );
}
body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

header {
  grid-area: header;
  background-color: rgb(32, 48, 64);
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 2rem;
  z-index: 1;
}
header a {
  color: #ffffff;
  justify-content: center;
  font-size: 2rem;
  text-decoration: none;
  padding-left: 2rem;
}
.header-image {
  max-width: 11rem;
}
.header-link {
  color: #ffffff;
  position: absolute;
  right: 5px;
  text-decoration: none;
}
.header-link a {
  font-size: 1.8rem;
}
main {
  grid-area: auto;
  height: auto;
  z-index: 1;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  z-index: 1;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
  z-index: 1;
}

.tag {
  text-decoration: none;
  color: #ffffff;
}
img {
  border-radius: 900px 30px 120px 900px;
}

/*Background*/
* {
  margin: 0px;
  padding: 0px;
}
.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}
.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #ccccd1, #4e54c8);
  width: 100%;
  height: 100%;
}

.css-selector {
  background: linear-gradient(346deg, #23c59b, #76b1a1);
  background-size: auto auto;

  animation: gradient 34s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.circles {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgb(32, 48, 64);
  animation: animate 25s linear infinite;
  bottom: calc(0px - 40vh);
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  animation-duration: 20s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 25s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 20s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 15s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 20s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 90px;
  height: 90px;
  animation-delay: 0s;
  animation-duration: 25s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 30s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 0s;
  animation-duration: 35s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 0s;
  animation-duration: 40s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 45s;
  border-radius: 50%;
  border-top-left-radius: 0 !important;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateY(-60vh) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) rotate(720deg);
    opacity: 0;
  }
}

/*Media Query*/
iframe {
  height: 350px;
  width: 630px;
}
@media only screen and (max-width: 900px) {
  iframe {
    height: 340px;
    width: 550px;
  }
  .header-image {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  iframe {
    height: 260px;
    width: 450px;
  }
  .header-image {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  iframe {
    height: 200px;
    width: 400px;
  }
  .header-image {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  iframe {
    height: 180px;
    width: 300px;
  }
  .header-image {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  iframe {
    height: 170px;
    width: 280px;
  }
  .header-image {
    display: none;
  }
}
