@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.css-selector {
  background: linear-gradient(346deg, #23c59b, #abddd0);
  background-size: 400% 400%;

  animation: gradient 34s ease infinite;
}

@keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgb(177, 151, 162) 0%, rgba(5,95,133,0.9556197478991597) 98%);
}
body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: #ffffff;
  text-decoration: none;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
}

.tag{
  text-decoration: none;
  color: #ffffff;
}

/*Products*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.products li {
  flex: 0 1 29rem;
  height: 45rem;
  padding: 3.5rem;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}
.products li:hover{
  transform: scale(1.1);
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #ffffff;
}

.product img{
  max-width: 37rem;
  max-height: 37rem;
  border-radius: 900px 30px 120px 900px;
}
.product img:hover{
  -webkit-transform: scale(1.07) rotate(1deg);
  transform: scale(1.07) rotate(1deg);
}

.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title{
  font-size: 2rem;
  color: #ffffff;
  margin: 10px 0px;
}

.product-price div,
.product-price button{
  text-align: center;
  flex: 1;
}

.product-price div {
  font-size: 2rem;
}

.button {
  padding: 1rem;
  border: none;
  background-color: #fafafa;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: black;
}
.button:hover {
  background-color: #23c59b;
  border: 0.1rem #ffffff solid;
}

/*Filter*/
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: .1rem whitesmoke solid;
}

.filter div{
  flex: 1;
}
select {
  background-color: rgba(68, 68, 68, 0.774);
  border: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  cursor: pointer;
  color: #fafafa;
  border-radius: 10px;
  padding-left: 5px;
}

/*Cart*/
.cart{
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.cart a{
  color: black;
  text-decoration: underline;
}
.cart-header{
  border-bottom: 0.1rem whitesmoke solid;
  padding: 1.2rem;
}
.cart-items{
  background-color: rgb(192, 197, 200);
  padding: 0;
  width: 100%;
  list-style-type: none;
  border-radius: 3%;
}
.cart-items img{
  width: 9rem;
  border-radius: 900px 30px 120px 900px;
}
.cart-items li{
  display: flex;
}
.cart-items li div{
  padding: 0.5rem;
}
.cart-items li > div:last-child{
  flex: 1;
}
.right{
  text-align: right;
}
.button-remove {
  padding: 1rem;
  border: none;
  background-color: #fafafa;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: black;
}
.button-remove:hover {
  background-color: #c52323;
  border: 0.1rem #ffffff solid;
}
.total{
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.total div{
  font-size: 2rem;
}
.total div,
.total button{
  flex: 1;
  text-align: center;
}

/*Checkout*/
form{
  width: 100%;
}
.form-container{
  width: 100%;
  padding: 0;
  list-style-type: none;
  background-color: rgb(192, 197, 200);
  border-radius: 1rem;
}
.form-container li{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input{
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 1rem;
}